.btn{
    margin-top: 1%;
    margin-left: 1%;
    float: right;
    min-width: 88px;
    line-height: 30px;
    color: #696c76;
}

.savediv{
    margin-right: 3%;
}


.mat-card{
    /*margin-left: 2%;*/
    /*margin-top: 10%;*/
    margin: 2%;
    width: 90%;
    box-shadow: 0px 1px 9px 1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}
.mat-blue{
    background-color: rgba(0, 125, 197, 0.62);
    color: white;
}
