.mat-dialog-title{
    min-width: 300px;
}

.blue-button{
    margin-left: 1%;
    min-width: 88px;
    line-height: 30px;
    background-color: rgba(0, 125, 197, 0.62);
}



hr{
    background-color: rgba(114, 192, 114, 0.5);
}
