<app-title
    [titleName]="'Exam Information'"
    [icon]="'Exams'">
</app-title>

<mat-tab-group>
    <mat-tab label="General Informatiom">
        <app-exam-profile (classmarkertest)="setClassMarkerTest($event)"></app-exam-profile>
    </mat-tab>

    <mat-tab label="Participants">
        <app-exam-students></app-exam-students>
    </mat-tab>

    <mat-tab label="ClassMarker">
        <app-exam-classmarker [classmarkertestid]="classmarkertestid"></app-exam-classmarker>
    </mat-tab>

    <mat-tab label="ClassMarker Results">
        <app-exam-students-result ></app-exam-students-result>
    </mat-tab>


</mat-tab-group>
