
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;

    width:100%;
}

.page_404  img{
    margin-top: 100%;
    width:100%;

}

.four_zero_four_bg{

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 300px;
    width: 100%;
    background-position: center;
    /*padding-top: 10px;*/
    padding-left: 100px;
}


.four_zero_four_bg h1{
    font-size:80px;
    margin: 88px 0 16px;
}

.four_zero_four_bg h3{
    font-size:80px;
}

.link_404{
    color: #fff;
    background: #007DC5;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404{
    text-align: center;
    /*padding-right: 100px;*/
}

.buttons{
    background: rgba( 0, 125, 197, 0.5);
}
