<mat-toolbar color="blue">
    <div>
        <button mat-icon-button color="lightgray" (click)="sidebarOpened=!sidebarOpened">
            <mat-icon>menu</mat-icon>
        </button>
        <a
            [routerLink]="['/courses']"
            class="main-link"
        >Synergy Academy</a>
    </div>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
    <mat-sidenav [(opened)]="sidebarOpened" mode="side">
        <button mat-stroked-button
                color="gray"
                class="sidebar-buttons"
                [routerLink]="['/analytics']"
                routerLinkActive="clicked"
        >Analytics</button>
        <button mat-stroked-button
                color="gray"
                class="sidebar-buttons"
                [routerLink]="['/students']"
                routerLinkActive="clicked"
                [routerLinkActiveOptions]="{exact: true}"

            >All Students
        </button> <!--  routerLinkActiveOptions - у главной ссылки, так как при переходн на другую страницу он тоже clicked остается            -->
        <button mat-stroked-button
                color="gray"
                class="sidebar-buttons"
                [routerLink]="['/courses']"
                routerLinkActive="clicked"
        >All Courses</button>
        <button mat-stroked-button
                color="gray"
                class="sidebar-buttons"
                [routerLink]="['/roles']"
                routerLinkActive="clicked"
        >Roles</button>
        <button mat-stroked-button
                color="gray"
                class="sidebar-buttons"
                [routerLink]="['/settings']"
                routerLinkActive="clicked"
        >Settings</button>
        <button mat-stroked-button
                color="gray"
                class="sidebar-buttons"
                [routerLink]="['/about']"
                routerLinkActive="clicked"
        >About</button>

    </mat-sidenav>

    <mat-sidenav-content>
        <!--router outlet-->
        <router-outlet></router-outlet>
<!--        <app-allstudents></app-allstudents>-->
    </mat-sidenav-content>

</mat-sidenav-container>

