<mat-toolbar color="blue">
  <div>
    <button mat-icon-button color="lightgray" (click)="sidebarOpened=!sidebarOpened">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Synergy Academy</span>
  </div>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false" >
  <mat-sidenav [(opened)]="sidebarOpened" mode="side">
    <button mat-stroked-button color="gray" class="sidebar-buttons">Analytics</button>
    <button mat-stroked-button color="gray" class="sidebar-buttons">All Students</button>
    <button mat-stroked-button color="gray" class="sidebar-buttons">All Courses</button>
    <button mat-stroked-button color="gray" class="sidebar-buttons">Roles</button>
    <button mat-stroked-button color="gray" class="sidebar-buttons">Settings</button>
    <button mat-stroked-button color="gray" class="sidebar-buttons">About</button>

  </mat-sidenav>
  <mat-sidenav-content>
<!--    <app-test></app-test>-->
    <app-table></app-table>
<!--    <app-test></app-test>-->
  </mat-sidenav-content>
</mat-sidenav-container>

