app-exam-students{
    width: 100%;
    height: 100%;
}


table {
    width: 94%;
    /*background-color: whitesmoke;*/
    margin: 3%;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;
}

table td:nth-child(1) {
    color: #0277bd;
}


th {
    background-color: #cecdcd;
    color: #464545;
    /*width: 33%;*/
    /*padding: 5px;*/
    padding-left: 10px;
    padding-right: 10px;
    /*margin-bottom: 10px;*/
    min-width: 70px;
}

td {
    padding-bottom: 20px;
    background-color: whitesmoke;
    color: #646262;
    border-top: 1px solid transparent;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;

}


.filter{
    height: 35px;
    margin-left: 3.5%;
}

.mat-card{
    margin: 4%;
    width: 90%;
    box-shadow: 0px 1px 9px 1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}
