.btn{
    /*margin-top: 1%;*/
    margin: 7px;
    float: right;
    min-width: 85px;
    line-height: 30px;
    color: white;
    background-color: #00897B;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 3px;
}

.btn app-maticon{
    font-size: 15px;
}
