.white-button{
    margin-left: 1%;
    min-width: 88px;
    line-height: 30px;
    /*background-color: rgba(164, 160, 160, 0.73);*/
    border: 1px solid black;
}
.mat-dialog-title{
    min-width: 300px;
}

.blue-button{
    margin-left: 1%;
    min-width: 88px;
    line-height: 30px;
    background-color: rgba(0, 125, 197, 0.62);
}

