<app-title
    [titleName]="'Student Profile'"
    [icon]="'StudentProfile'">
</app-title>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="savediv">
        <button
            mat-stroked-button
            color="blue"
            class="btn"
            style="color: white"
            type="submit"
            (click)="openDialog('save&close')"
        >Save&Close
        </button>
        <button
            mat-stroked-button
            color="blue"
            class="btn"
            style="color: white"
            type="submit"
            (click)="openDialog('save')"
        >Save
        </button>

        <button
            mat-stroked-button
            class="btn"
            (click)="openDialog('reset')"

        >Reset
        </button>
    </div>

<!--<p>{{student$|json}}</p>-->
<!--    <ng-container *ngIf="student$ | async as student">-->
    <ng-container *ngIf="student$ | async as student">
<!--        <p>{{student|json}}</p>-->
        <mat-tab-group mat-align-tabs>
            <mat-tab label="General Information">
                <mat-card>
                    <app-form-controls type="text" [value]="student.firstname" matlabel="First Name"
                                       [formCName]="'firstname'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="text" [value]="student.lastname" matlabel="Last Name"
                                       [formCName]="'lastname'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="text" [value]="student.email" matlabel="Email"
                                       [formCName]="'email'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="phonenumber" [value]="student.phonenumber" matlabel="Phone"
                                       [formCName]="'phonenumber'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="date" [dateValue]="student.birthday" matlabel="Birthday"
                                       [formCName]="'birthday'" [form]="form"
                                       (changedValueDate)="$event"></app-form-controls>

                    <app-form-controls type="textarea"
                                       [value]="student.address"
                                       matlabel="Address"
                                       [formCName]="'address'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="select"
                                       [selectvalue]="student.universityid"
                                       matlabel="University"
                                       [formCName]="'universityid'"
                                       [form]="form"
                                       [classifierName]="'university'"
                                       (selectedvalueOutput)="$event"></app-form-controls>




                </mat-card>
                <mat-card>
                    <app-form-controls type="textarea"
                                       [value]="student.educationdepartmentadmissionandgraduationyear"
                                       matlabel="Education: department, admission and graduation year"
                                       [formCName]="'educationdepartmentadmissionandgraduationyear'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="number" [numberValue]="student.gpa" matlabel="Your GPA"
                                       [formCName]="'gpa'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="textarea" [value]="student.whatprogramminglanguagesdoyouknow"
                                       matlabel="What programming languages do you know?"
                                       [formCName]="'whatprogramminglanguagesdoyouknow'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="textarea" [value]="student.othercoursesattended"
                                       matlabel="Other courses attended. Provide the educational institution, subjects, course start and end dates"
                                       [formCName]="'othercoursesattended'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="textarea" [value]="student.haveyoueverparticipatedinprogramming"
                                       matlabel="Have you ever participated in programming or other IT events or contests? Please provide details, such as when and where it was organized, what results did you have, etc."
                                       [formCName]="'haveyoueverparticipatedinprogramming'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>

                    <app-form-controls type="textarea" [value]="student.doyouhaveworkexperience"
                                       matlabel=" Do you have a work experience? please provide details, such as company, your title, start and end date"
                                       [formCName]="'doyouhaveworkexperience'" [form]="form"
                                       (changedValue)="$event"></app-form-controls>
                    <app-form-controls type="select"
                                       [selectvalue]="student.howdidyoufindid"
                                       matlabel="How did you find out about this course?"
                                       [formCName]="'howdidyoufindid'"
                                       [form]="form"
                                       [classifierName]="'howdidyoufind'"
                                       (selectedvalueOutput)="$event"></app-form-controls>



                </mat-card>
            </mat-tab>


        </mat-tab-group>
    </ng-container>


</form>

<!--    <div class="savediv">-->
<!--        <button mat-stroked-button color="blue" class="btn" style="color: white" type="submit">-->
<!--            Save-->
<!--        </button>-->
<!--        <button mat-stroked-button class="btn" type="reset">Reset</button>-->
<!--    </div>-->

<!--    <mat-tab-group mat-align-tabs>-->
<!--        <mat-tab label="General Information">-->

<!--            <div class="student_profile_tab1">-->

<!--                <mat-card>-->

<!--                    <mat-form-field>-->
<!--                        <mat-label>First name</mat-label>-->
<!--                        <input matInput [(ngModel)]="student.firstname" >-->
<!--                        <button *ngIf="student.firstname" matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.firstname=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field>-->
<!--                        <mat-label>Last Name</mat-label>-->
<!--                        <input matInput [(ngModel)]="student.lastname">-->
<!--                        <button *ngIf="student.lastname" matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.lastname=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field>-->
<!--                        <mat-label>Email*</mat-label>-->
<!--                        <input matInput [(ngModel)]="student.email">-->
<!--                        <button *ngIf="student.email" matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.email=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field>-->
<!--                        <mat-label>Phone Number*</mat-label>-->
<!--                        <input matInput [(ngModel)]="student.phonenumber">-->
<!--                        <button *ngIf="student.phonenumber" matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.phonenumber=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->

<!--                </mat-card>-->

<!--                <mat-card>-->
<!--                    <mat-form-field>-->
<!--                        <mat-label>Birthday</mat-label>-->
<!--                        <input matInput [matDatepicker]="picker" [formControl]="currentDate">-->
<!--                        <button matSuffix mat-icon-button aria-label="Clear" (click)="deleteDateValue()">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--                        <mat-datepicker #picker></mat-datepicker>-->
<!--                    </mat-form-field>-->

<!--                    <mat-form-field>-->
<!--                        <mat-label>University</mat-label>-->
<!--                        <mat-select [(ngModel)]="student.universityid">-->
<!--                            <mat-option>None</mat-option>-->
<!--                            <mat-option *ngFor="let university of universites"-->
<!--                                        [value]="university">{{university}}</mat-option>-->
<!--                        </mat-select>-->
<!--                        <button *ngIf="student.universityid" matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.universityid=0">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->

<!--                    <mat-form-field>-->
<!--                        <mat-label>Academy Year</mat-label>-->
<!--                        <input matInput type="number">-->
<!--                        &lt;!&ndash;                    <button *ngIf="student.lastname" matSuffix mat-icon-button aria-label="Clear" (click)="student.lastname=''">&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <mat-icon>close</mat-icon>&ndash;&gt;-->
<!--                        &lt;!&ndash;                    </button>&ndash;&gt;-->
<!--                    </mat-form-field>-->

<!--                </mat-card>-->

<!--                <mat-card>-->
<!--                    <mat-form-field>-->
<!--                        <mat-label>Education: department, admission and graduation year</mat-label>-->
<!--                        <textarea matInput-->
<!--                                  [(ngModel)]="student.educationdepartmentadmissionandgraduationyear"></textarea>-->
<!--                        <button *ngIf="student.educationdepartmentadmissionandgraduationyear"-->
<!--                                matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.educationdepartmentadmissionandgraduationyear=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->

<!--                    <mat-form-field>-->
<!--                        <mat-label>Other courses attended.-->
<!--                            Provide the educational institution, subjects, course start and end dates-->
<!--                        </mat-label>-->

<!--                        <textarea rows="3" matInput [(ngModel)]="student.othercoursesattended"></textarea>-->
<!--                        <button *ngIf="student.othercoursesattended"-->
<!--                                matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.othercoursesattended=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->


<!--                    <mat-form-field>-->
<!--                        <mat-label>-->
<!--                            Have you ever participated in programming or other IT events or contests? Please provide-->
<!--                            details, such as when and where it was organized, what results did you have, etc.-->
<!--                        </mat-label>-->
<!--                        <textarea matInput [(ngModel)]="student.haveyoueverparticipatedinprogramming"></textarea>-->
<!--                        <button *ngIf="student.haveyoueverparticipatedinprogramming"-->
<!--                                matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.haveyoueverparticipatedinprogramming=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->


<!--                    <mat-form-field>-->
<!--                        <mat-label>-->
<!--                            Do you have a work experience? please provide details, such as company, your title, start-->
<!--                            and end date-->
<!--                        </mat-label>-->
<!--                        <textarea matInput [(ngModel)]="student.doyouhaveworkexperience"></textarea>-->
<!--                        <button *ngIf="student.doyouhaveworkexperience"-->
<!--                                matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.doyouhaveworkexperience=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->

<!--                    <mat-form-field>-->
<!--                        <mat-label>How did you find out about this course?</mat-label>-->
<!--                        <mat-select [(ngModel)]="student.howdidyoufindid">-->
<!--                            <mat-option>None</mat-option>-->
<!--                            <mat-option *ngFor="let a of howdidyoufind" [value]="a">{{a}}</mat-option>-->
<!--                        </mat-select>-->
<!--                        <button *ngIf="student.howdidyoufindid"-->
<!--                                matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.howdidyoufindid=0">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->


<!--                    <mat-form-field>-->
<!--                        <mat-label>-->
<!--                            What programming languages do you know?-->
<!--                        </mat-label>-->
<!--                        <textarea matInput [(ngModel)]="student.whatprogramminglanguagesdoyouknow"></textarea>-->
<!--                        <button *ngIf="student.whatprogramminglanguagesdoyouknow"-->
<!--                                matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.whatprogramminglanguagesdoyouknow=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->
<!--                    </mat-form-field>-->

<!--                </mat-card>-->


<!--            </div>-->

<!--        </mat-tab>-->
<!--        <mat-tab-->
<!--            label="LinkedIn">-->
<!--            LinkedIn of student {{student.studentid}}-->
<!--        </mat-tab>-->

<!--        <mat-tab-->
<!--            label="History">-->
<!--            History of student {{student.studentid}}-->
<!--        </mat-tab>-->

<!--    </mat-tab-group>-->


<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>
<!------------------------------------------------------------>


<!--<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--    <div class="savediv">-->
<!--        <button mat-stroked-button color="blue" class="btn" style="color: white" type="submit">-->
<!--            Save-->
<!--        </button>-->
<!--        <button mat-stroked-button class="btn" type="reset">Reset</button>-->
<!--    </div>-->

<!--    <ng-container *ngIf="student$ | async as student">-->
<!--        <mat-tab-group mat-align-tabs>-->
<!--            <mat-tab label="General Information">-->
<!--                <mat-card>-->
<!--                    <mat-form-field>-->
<!--                        <mat-label>First name</mat-label>-->
<!--                        <input type="text" matInput [(ngModel)]="student.firstname" formControlName="firstname">-->
<!--                        <button *ngIf="student.firstname" matSuffix mat-icon-button aria-label="Clear"-->
<!--                                (click)="student.firstname=''">-->
<!--                            <mat-icon>close</mat-icon>-->
<!--                        </button>-->

<!--                    </mat-form-field>-->


<!--                <app-form-controls type="text" [value]="student.firstname" matlabel="First Name"-->
<!--                                   [formCName]="'firstname'" [form]="form"></app-form-controls>-->

<!--                </mat-card>-->

<!--                <mat-card>-->
<!--                </mat-card>-->
<!--                <mat-card>-->
<!--                </mat-card>-->
<!--                <mat-card>-->
<!--                </mat-card>-->


<!--            </mat-tab>-->


<!--        </mat-tab-group>-->

<!--    </ng-container>-->
<!--</form>-->


<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->
<!-------------------------------------------->


<!--        <ng-container-->
<!--            [ngTemplateOutlet]="control"-->
<!--            [ngTemplateOutletContext]="{type: 'text', label: 'First Name', value: [student.firstname],st: student,formControlName: 'firstname'}"-->
<!--        >-->


<!--        </ng-container>-->

<!--        <ng-template #control-->
<!--                     let-type='type'-->
<!--                     let-label='label'-->
<!--                     let-value='value'-->
<!--                     let-formControlName='formControlName'-->
<!--                     let-st='st'-->


<!--        >-->
<!--            &lt;!&ndash;            <p>type   {{type}}</p>&ndash;&gt;-->
<!--            &lt;!&ndash;            <p>label   {{label}}</p>&ndash;&gt;-->
<!--            &lt;!&ndash;            <p>student   {{value[0]}}</p>&ndash;&gt;-->
<!--            &lt;!&ndash;            <p>formControlName   {{formControlName}}</p>&ndash;&gt;-->
<!--            &lt;!&ndash;            <p>{{st | json}}</p>&ndash;&gt;-->

<!--            <mat-form-field>-->
<!--                <mat-label>{{label}}</mat-label>-->
<!--                <input matInput-->
<!--                       formControlName="{{formControlName}}"-->
<!--                       [(ngModel)]="value[0]"-->
<!--                >-->
<!--                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"-->
<!--                        (click)="value[0]=''"-->
<!--                        type="button"-->
<!--                >-->
<!--                    <mat-icon>close</mat-icon>-->
<!--                </button>-->
<!--            </mat-form-field>-->

<!--        </ng-template>-->


<!--    </ng-container>-->
<!--</form>-->
