<ng-container *ngIf="type == 'text'">
    <mat-form-field [formGroup]="form">
        <mat-label>{{matlabel}}</mat-label>
        <input [type]="type"
               matInput
               [(ngModel)]="value"
               [formControlName]="formCName">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

</ng-container>

<ng-container *ngIf="type == 'date'">
    <mat-form-field [formGroup]="form">
        <mat-label>{{matlabel}}</mat-label>
        <input
            matInput
               [matDatepicker]="picker"
               [formControlName]="formCName"
               [(ngModel)]="changedDate"
               (change)="onChangesDate()"
        >
        <button matSuffix mat-icon-button aria-label="Clear" (click)="deleteDateValue()" type="button">
            <mat-icon>close</mat-icon>
        </button>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>

</ng-container>


<ng-container *ngIf="type == 'textarea'">
    <mat-form-field [formGroup]="form">
        <mat-label>{{matlabel}}</mat-label>
        <textarea matInput
                  [matTooltip]="matlabel"
                  matTooltipShowDelay="500"
                  [(ngModel)]="value"
                  [formControlName]="formCName">
            </textarea>
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</ng-container>


<ng-container *ngIf="type == 'number'">
    <mat-form-field [formGroup]="form">
        <mat-label>{{matlabel}}</mat-label>
        <input [type]="type"
               matInput
               [(ngModel)]="numberValue"
               [formControlName]="formCName">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

</ng-container>


<ng-container *ngIf="type == 'phonenumber'">
    <mat-form-field [formGroup]="form">
        <mat-label>{{matlabel}}</mat-label>
        <input type="text"
               matInput
               [(ngModel)]="value"
               [formControlName]="formCName"
               placeholder="098-12-34-56">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

</ng-container>


<ng-container *ngIf="type == 'select'">
    <ng-container *ngIf="classifierData$ | async as selectedvalues">
        <mat-form-field [formGroup]="form">
            <mat-label>{{matlabel}}</mat-label>
            <mat-select [(ngModel)]="selectvalue" [formControlName]="formCName">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let svalue of selectedvalues"
                            [value]="svalue['name']"
                >
                    {{svalue["name"]}}
                </mat-option>
            </mat-select>

            <button *ngIf="selectvalue" matSuffix mat-icon-button aria-label="Clear" (click)="selectvalue='None'">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>


        <!--                    <button (click)="test(selectedvalues)">AAAAAAA</button>-->

        <!--        <p>{{selectedvalues | json}}</p>-->
        <!--        <p>{{t | json}}</p>-->
    </ng-container>


</ng-container>


